<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>About Us</title>
  </head>
  {% include 'navbar.html' %}
  <body>
    <section id="Description" class="p-3 mt-6">
      <div class="container">
        <div class="row text-center">
          <div class="col align-middle">
            <div class="row text-center">
              <div class="col align-middle">
                <h3 class="font-weight-bold pt-4">हमारे बारे में</h3>
                <br />
                <p class="font-weight-normal text-justify" id="DescriptionExp">
                  आज ग्रामीण इलाकों में लोग अपने बच्चों के लिए रिश्ते नहीं ढूंढ
                  पा रहे हैं। यह सामाजिक समस्या बन गई है। यह उनके लिए सूखा
                  ,कर्जा , खराब फसल आदि से भी बड़ी समस्या है क्योंकि इसके कारण
                  उनका वंश आगे नहीं बढ़ पा रहा हैं। समाज में उनकी इज्ज़त कम हो
                  जाती है। सबसे बड़ी बात यह है कि इससे समाज का ढाँचा चरमरा जाता
                  है क्योंकि परिवार ही वह मूल इकाई है जिससे समाज बनता है।<br /><br />

                  ग्रामीण इलाकों में लोग सदियों से ननिहाल-ददिहाल और अन्य करीबी
                  रिश्तेदारों के माध्यम से अपने बच्चों का रिश्ता करते आये हैं
                  लेकिन आज के दौर में इस माध्यम से रिश्ते नहीं हो पा रहे हैं।
                  इसकी वजह यह है कि कुछ राज्यों मे शादी के लायक लड़कों की और कुछ
                  राज्यों मे शादी के लायक लड़कियों की तादाद अधिक है लेकिन इन
                  इलाकों में लोगों के पास रिश्ते ढूंढ पाने का कोई माध्यम नहीं है
                  | ऐसी असमानता की बहुत सी वजहें हैं, जैसे कुछ राज्यों में भ्रूण
                  हत्या, लड़कियों का लड़कों से ज्यादा पढ़ा लिखा होना ,लड़की के
                  परिवार का नौकरीपेशा लड़का ढूंढने की इच्छा आदि | इसके आलावा कुछ
                  राज्य ऐसे हैं जहां आईएएस, आईआईटी अन्य प्रतिष्ठित प्रतियोगिता
                  परीक्षा में सफलता हासिल कर बड़े अधिकारी बनते है और उनके परिवार
                  वाले इतने दहेज़ की की मांग करते है कि साधारण परिवार के लिए अपनी
                  बेटी के लिए योग्य वर ढूंढ़ना नामुमकिन हो जाता है। <br /><br />

                  हमारा मानना है कि योग्य जीवनसाथी हासिल करने और परिवार को आगे
                  बढ़ाने का सबको हक़ है चाहे उसके जीवन यापन का ज़रिया जो भी हो
                  चाहे लड़का खेती करता हो ,दुकान चलाता हो, नौकरीपेशा हो या और कुछ
                  और तरह के काम करता हो । इसी तरह बिना खुद को क़र्ज़ में डुबोये
                  अपने बेटी की शादी योग्य वर से करना हर पिता का हक़ है |
                  <br /><br />

                  देश पहले के मुकाबले कहीं अधिक तेज़ी से तरक़्क़ी कर रहा है। सड़कों
                  और मोबाइल/टेक्नोलॉजी के कारण पूरा देश एक बड़ा सा गाँव बन गया
                  है। चुटकी बजाते आप किसी से जुड़ सकते हैं- बात कर सकते हैं,
                  वीडियो कॉल कर सकते हैं, सड़क मार्ग से या ट्रेन के ज़रिये दो-एक
                  दिन में देश भर में कहीं भी पहुँच सकते हैं। हमारा मानना है कि
                  हमें अपने बच्चों के लिए योग्य रिश्ते ढूंढने चाहिये और उसके लिए
                  तहसील, जिला या राज्य का बंधन नहीं हो | हमें अपने बच्चों के लिए
                  योग्य वर-वधु ढूंढने चाहिए चाहे राज्य से बाहर क्यों न जाना पड़े|
                  जहाँ तक जाति, धर्म, भाषा ,रीति-रिवाज का सवाल है तो हर राज्य
                  में अलग-अलग धर्म ,जाति- उपजाति के लोग रहते हैं और हमें बस यह
                  करना है कि हम अपनी पृष्ठभूमि से ताल-मेल खाता परिवार ढूंढ लें।
                  <br /><br />
                  इन समस्याओं के निवारण के लिए हमने एक ऐप पेश किया है - 'रिश्ते
                  ही रिश्ते'। जो माता-पिता पारम्परिक तरीके से, रिश्तेदारों के
                  ज़रिये अपने बच्चों के लिए योग्य वर-वधु की तलाश नहीं कर पा रहे
                  हैं हम उन्हें हज़ारों रिश्ते बताएंगे ताकि वे लड़के के माता-पिता
                  हो या लड़की के, इज़्ज़त से अपने बच्चों की शादी कर सकें। | हमारा
                  मानना है कि शादी-ब्याह का संयोग ऊपरवाला बनाता है लेकिन धरती पर
                  बच्चों का भला-बुरा माता-पिता से अधिक कोई नहीं जानता इसलिए हम
                  चाहते हैं कि हम उनके सामने हज़ारों रिश्तों का विकल्प पेश करें।
                  इनमें से योग्य वर-वधु चुनना माता-पिता के हाथ में है।<br /><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
