<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Jaaniye - Agent</title>
  </head>
  {% include 'navbar.html' %}
  <body>
    <section id="Description" class="p-3 mt-6">
      <div class="container">
        <div class="row text-center">
          <div class="col align-middle">
            <div class="row text-center mb-5">
              <div class="col align-middle">
                <h3 class="font-weight-bold pt-4">एजेंट भर्ती</h3>
                <br />
                <p class="font-weight-normal text-justify" id="DescriptionExp">
                  यह भारत का पहला ऐप है जो आपको पारम्परिक रिश्ते ढूंढने में मदद
                  करता है। इस तेज़ रफ़्तार बदलते दौर में लोगों के लिए
                  ननिहाल-ददिहाल के इलाके से रिश्ते ढूंढना मुश्किल होता जा रहा
                  है। हमारा ऐप टेक्नोलॉजी के माध्यम से देश भर से योग्य रिश्ते
                  आपके मोबाइल स्क्रीन पर पेश करता है। हम लोगों के लिए शादी के नए
                  अवसर पेश कर रहे हैं। जोड़ी तो ईश्वर तय करता है, हमारा काम बस
                  आपको योग्य वर-वधु ढूंढने में मदद करना है। हमारे साथ जुड़ें और
                  इस नेक काम में भागीदारी करें। <br />
                  एजेंट बनने के फायदे: <br />
                  1. हमारे साथ जुड़ कर आप अपने घर-गाँव में रहते हुए हर महीने
                  20,000 रुपया से ज़्यादा कमा सकते हैं। <br />
                  2. यह काम आप पार्ट-टाइम/फुल-टाइम दोनों तरीके से कर सकते हैं।
                  <br />
                  3. पैसे हाथ में आए, इसके लिए आपके महीना खत्म होने का इंतज़ार
                  नहीं करना पड़ेगा। बस प्रोफाइल बना कर उसी समय यूजर से पैसे ले
                  सकते हैं। <br />
                  4. इसके लिए आपको कोई दफ्तर-दुकान खोलने या निवेश करने की जरूरत
                  नहीं है।
                  <br />
                  5. सिर्फ हिंदी जानना ही काफी है, बिलकुल ज़रूरी नहीं कि आपको
                  अंग्रेजी भाषा का ज्ञान हो ही। <br />
                  6. पैसे और पुण्य दोनों कमाए - रिश्ते ढूंढ़ने में लोगो की मदद
                  करें। <br />
                  <br />
                  एजेंट बनने की अर्हता: <br />
                  1. स्मार्ट फोन चलाना आता हो <br />
                  2. ऑनलाइन पेमेंट करना आता हो <br />
                  3. न्यूनतम दसवीं पास हों <br />
                  4. मिलनसार व्यक्तित्व हो <br />
                  <br />
                  फिलहाल भर्ती चालू है। एजेंट आवेदन फॉर्म भरने के आखिरी तारीख़ 7
                  सितम्बर 2019 है भर्ती प्रक्रिया इस प्रकार है: <br />
                  1. इस लिंक पर क्लिक कर आवेदन फार्म भरें:
                  <a href="/agentregistration" style="color: blue"
                    >यहां क्लिक करे</a
                  >
                  <br />
                  2. यदि आप शार्ट लिस्ट हुए तो हमारी एचआर टीम आपको इंटरव्यू के
                  लिए फोन करेगी <br />
                  3. इंटरव्यू में सेलेक्ट होने पर आपको आपके कमीशन के बारे में
                  जानकारी दी जायेगी और यूनीक कोड दिया जायेगा। <br />
                  4. आपको 500 रूपए रजिस्ट्रेशन फ़ीस का भुगतान करना होगा।
                  रजिस्ट्रेशन फ़ीस रिफंडेबल है। <br />
                  5. यदि आप एजेंसी रद्द करने का निवेदन करते हैं तो आपका यूनिक
                  कोड डीएक्टिवेट कर दिया जाएगा और रेजिस्ट्रेशन फ़ीस के तौर पर
                  लिए गए 500 रूपये वापस कर दिए जायेंगे। <br />
                  <br />
                  यूनिक कोड मिलने के बाद ही आप प्रोफाइल बना कर पैसा कमा सकते है।
                  <br />
                  <br />
                  आपका काम: <br />
                  1. पैसा कमाना - प्रोफाइल बनायें पैसा कमाएं। <br />
                  2. ऐप कैसे काम करता है, यह समझने में लोगों की मदद करना और
                  जागरूकता फैलाना। <br />
                  3. प्रोफाइल बनवाने के लिए लोगों को प्रोत्साहित करना। <br />
                </p>
              </div>
            </div>
            <a href="/agentregistration" id="agent_form">
              एजेंट आवेदन फॉर्म भरने के लिए यहाँ क्लिक करे
            </a>
            <hr class="w-50" />
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
