<!DOCTYPE html>
<html>
  <head>
    <title>Agent</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/agent_share.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='agent_share.css') }}"
    />
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <script type="text/javascript">
      alert("{{ message }}");
    </script>
    {% endfor %} {% endif %} {% endwith %}
  </head>
  {% include 'navbar.html' %}
  <body>
    <!--
<center><h1>रिश्ते ही रिश्ते</h1></center>
<button class='logout' onclick="window.location='/logout';">Logout</button> -->

    <br />

    <!-- <center>
  <h4>एजेंट भर्ती की बाकी परिक्रिया</h4>
1. अपना एजेंट कोड डाल कर तीन वधु के प्रोफाइल बनवाये, फिलहाल वधु का प्रोफाइल बनाना फ्री है|<br>
2. आपको मिले मैसेज मैं दिए गए नंबर पर (10 से 6 के बीच ) हमें संपर्क करे!  हमारी HR टीम आपका इंटरव्यू लेगी और आपके बनाये हुए तीनो वधु प्रोफाइल की जांच करेगी|<br>
3. सिलेक्टेड कैंडिडेट 500 रुपये की रेगिस्ट्रशन फीस जमा करवा सकते हैं | यह पेमेंट ऑनलाइन करना है | यह 500 रुपए की राशि रिफंडेबल है|<br>
4. 10 अगस्त 2019 से आपअपना कोड इस्तेमाल करके वर के प्रोफाइल बनवा कर और 25 अगस्त से वधु के प्रोफाइल बनवा कर रूपए कमा सकते हैं! आप प्रत्येक प्रोफाइल का 1000 रूपए कमा सकते हैं |<br>
</center> -->

    <!-- {% if val == '0' %}
  <center>
    <h3>आपको {{vadhu}} वधु का बायोडाटा भरना है => <br><br> <button class="button button2" onclick="window.location='/signup/female/{{ code }}';">वधु का प्रोफाइल बनाये</button></h3></center>

  {% endif %} -->

    <!-- <button class="button button2" onclick="window.location='/agentchoose/{{ code }}';">कोड शेयर करे </button> -->
    <!-- <br><br><br><center>
  <button class="button button2" onclick="window.location='/signupmale/1';">वर का प्रोफाइल बनाये</button>
  </center> -->
    <!-- <center><p>
    <h6>एजेंट भर्ती की बाकी परिक्रिया</h6>
    <ul class="list-group">
      <li>
        1. अपना एजेंट कोड डाल कर तीन वधु के प्रोफाइल बनवाये, फिलहाल वधु का प्रोफाइल बनाना फ्री है!
      </li>
      <li>
        2. आपको मिले मैसेज मैं दिए गए नंबर पर (10 से 6 के बीच ) हमें संपर्क करे!  हमारी HR टीम आपका इंटरव्यू लेगी और आपके बनाये हुए तीनो वधु प्रोफाइल की जांच करेगी!
      </li>
      <li>
        3. सिलेक्टेड कैंडिडेट 500 रुपये की रेगिस्ट्रशन फीस जमा करवा सकते हैं! | यह पेमेंट ऑनलाइन करना है | यह 500 रुपए की राशि रिफंडेबल है|
      </li>
      <li>
        4. 10 अगस्त 2019 से आपअपना कोड इस्तेमाल करके वर के प्रोफाइल बनवा कर और 25 अगस्त से वधु के प्रोफाइल बनवा कर  रूपए कमा सकते हैं! आप प्रत्येक प्रोफाइल का 1000 रूपए कमा सकते हैं |
      </li>
    </ul>
  </p></center> -->
    <center>
      <button
        class="button button2"
        onclick="window.location='/signup/female/{{ code }}';"
      >
        वधु का प्रोफाइल बनाये
      </button>
    </center>
    <center>
      <button
        class="button button2"
        onclick="window.location='/signup/male/{{ code }}';"
      >
        वर का प्रोफाइल बनाये
      </button>
    </center>

    <!-- {% if val == '1' %}
  
  {% if verify == 1 %}
  <center><button class="button button2" onclick="window.location='/payment/paytm/merchant';"> अब भुगतान करें</button></center><br>
  {% endif %}

  {% if verify == 0 %}
  <center><label for="lname"><h2>अभी आपका अकाउंट वेरिफिकेशन में है | 48 घंटे में हमारे प्रतिनिधि आपसे संपर्क करेंगे | </h2></label>
  {% endif %}
  {% endif %}

  <center><label for="lname"><h2>आपका कोड - {{ code }} </h2></label><center> -->
  </body>
</html>
