<!DOCTYPE html>
<html>
  <title>Chats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <body>
    {% include 'navbar.html' %}
    <br />
    <div class="container mt-6 mb-6">
      <div class="">
        {% for value in data %}
        <div class="text-center mt-3">
          <div class="row d-flex flex-row profile-card">
            <div class="col-3">
              <img
                class="mt-4 img-fluid"
                src="{{ url_for('profile_img', id=value.id) }}"
                alt="profile_pic"
              />
            </div>
            <div class="col-6 text-justify pt-4">
              <p>{{ value.name }}</p>
            </div>
            <div class="col-3 w-100 pt-3 chat-btn">
              <a class="btn btn-large w-100" href="/chat/{{ value.id }}">
                <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
                चैट</a
              >
            </div>
          </div>
        </div>
        {% else %} {% if stats.pendingReq > 0 %}
        <p>Pending Request: <a href="/connection#requests">Click here</a></p>
        {% elif stats.connect %}
        <p>Home Tab: <a href="/listprofiles">Call rishtey</a></p>
        {% elif stats.shortlist %}
        <p>Home Tab: <a href="/listprofiles">Shortlist rishtey</a></p>
        {% else %}
        <p>Shortlist Tab: <a href="/shortlist">Chat with shortlist</a></p>
        {% endif %} {% endfor %}
      </div>
      <!-- <div class="card">
        <h3>Chat history</h3>
        {% for value in data %}
        <div class="card-body">
          <div class="well">
            <h4>{{ value.name }}</h4>
            <a href="/chat/{{ value.id }}">Chat</a>
          </div>
        </div>
        {% endfor %}
      </div> -->
    </div>
  </body>
</html>
