<!DOCTYPE html>
<html>
  <head>
    <title>ChatBox</title>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <script type="text/javascript">
      alert("{{ message }}");
    </script>
    {% endfor %} {% endif %} {% endwith %}
  </head>
  {% include 'navbar.html' %}
  <style>
    .incoming-msg {
      background-color: #aeffef;
      padding: 1em;
      width: 75%;
    }
    .outgoing-msg {
      background-color: rgb(219, 255, 204);
      padding: 1em;
      width: 75%;
    }
    .send-msg {
      background-color: rgba(182, 202, 227, 0.3);
      border-block-color: #bec5c1;
    }
    .type-box {
      border-block-color: #bec5c1;
    }
    /*.fixed-bottom-2 {
      position: sticky;
      margin-bottom: 15px;
    }*/
  </style>
  <body>
    <br /><br />
    <div class="container mt-5 mb-6">
      <!-- <h1>Chat with {{ talk.name }}</h1> -->
      <div class="row d-flex flex-row">
        <div class="text-center w-100" style="background-color: #BEC5C1">
          <a
            class="btn btn-large w-100"
            href="/showprofile/{{ talk.id }}"
            style="color:black;text-decoration:none;"
            >अधिक जानकारी</a
          >
        </div>
      </div>
      {% if interactions.blocked %}
      <div class="row d-flex flex-row">
        <div class="text-center w-100 py-2 banner-msg">
          आपने इन्हे ब्लॉक किया है
        </div>
      </div>
      {% endif %}
      <div class="row">
        <ul class="list-group list-group-flush">
          {% for msg in messages %}
          <li class="list-group-item">
            {% if msg.senderId == user.id %}
            <!-- <p class="lead">You</p> -->
            <div class="float-right outgoing-msg">
              {{ msg.message }}
            </div>
            {% else %}
            <div class="float-left incoming-msg">{{ msg.message }}</div>
            <small class="lead text-muted">{{ talk.name }}</small>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <br />
      {% if not interactions.blocked %}
      <form method="POST" id="myForm">
        <div class="row d-flex flex-row fixed-bottom-2">
          <div class="col-8 w-100 px-0">
            <input
              type="text"
              class="form-control w-100"
              name="message"
              id="message"
              placeholder=" यहाँ टाईप करें"
              required
            />
          </div>
          <div class="col-4 w-100 px-0">
            <button
              class="btn btn-large send-msg w-100"
              type="submit"
              value="send msg"
              id="btnsubmit"
            >
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              भेजें
            </button>
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $("input#btnsubmit").click(e => {
      e.preventDefault();
      if ($("input#message").val() == "") {
        alert("Add a message");
        document.getElementById("message").focus();
      } else {
        document.getElementById("myForm").submit();
      }
    });
  </script>
</html>
