<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
    <meta charset="utf-8" />
    <title>Forgot Password</title>
  </head>
  {% include 'navbar.html' %}
  <style>
    .head {
      font-weight: 500;
    }
    .btn-primary {
      background-color: #857fc8;
      border-radius: 12px;
      border-color: #857fc8;
    }
    .btn:hover {
      background-color: #625bb5;
      border-color: #625bb5;
    }
  </style>
  <body>
    <form method="POST" class="mt-6">
      <div class="container form-group mt-5">
        <div class="row text-center">
          <div class="col-1"></div>
          <div class="col-10 align-self-center">
            <div class="text-justify">
              <H4 class="pb-4 head"
                >अपना पासवर्ड बदलने के लिए अपना मोबाइल नंबर दर्ज करें।</H4
              >

              <br />
              <input
                type="number"
                style="text-align:center;"
                class="font-weight-bold border-top-0 border-left-0 border-right-0 w-100"
                placeholder="मोबाइल नंबर  दर्ज करें"
                name="mobno"
                required
              />
              <br />
              <input
                type="submit"
                class="btn btn-primary w-100 mt-3 mb-5"
                value="सबमिट करें"
              />
              <br />
              <div class="col-1"></div>
              <div class="col-10 text-justify">
                <p style="font-size:10px;" class="head">
                  हमारी कंपनी से आपके फ़ोन पर एक OTP संदेश भेजा जाएगा
                </p>
                <p style="font-size:10px;" class="head">
                  मैसेज मेंं से OTP कॉपी करके अगले पेज में दर्ज करें और अपना नया
                  पासवर्ड सेट करें|
                </p>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </form>
  </body>
</html>
