<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <script type="text/javascript">
      alert("{{ message }}");
    </script>
    {% endfor %} {% endif %} {% endwith %}
  </head>
  {% include 'navbar.html' %}
  <style>
    .btn {
      background-color: #857fc8;
      border-color: #857fc8;
      border-radius: 10px;
      font-size: 1.2em;
    }

    input {
      text-align: center;
    }
    select {
      text-align-last: center !important;
    }
    .install-btn {
      display: none;
      position: absolute;
      right: 0;
    }
  </style>
  <body>
    <!-- <h1>RISHTEY HI RISHTEY</h1> -->
    <!-- <button class="button0 button2" align="right">जानिये</button> -->
    <button class="install-btn btn btn-primary" id="installbtn">
      इंस्टॉल करें
    </button>
    <div class="px-5 mt-6">
      <br />
      <center>
        <img
          src="{{ url_for('static', filename='img2.png') }}"
          width="70%"
          height="70%"
        /><br /><br />
        <h3>यहाँ लॉगिन करें</h3>
        <div class="row mt-4 text-center">
          <div class="col-6 p-0">
            <button class="btn btn-rounded w-75">
              <a href="/login" style="text-decoration:none;color:#fff;"
                >वर / वधु</a
              >
            </button>
          </div>
          <div class="col-6 p-0">
            <button class="btn btn-rounded w-75">
              <a href="/agentlogin" style="text-decoration:none;color:#fff;"
                >एजेंट</a
              >
            </button>
          </div>
        </div>

        <br />
        <h3>पहली बार आये हैं ?</h3>

        <div class="row mt-4 text-center">
          <div class="col-4 p-1">
            <button class="btn btn-rounded w-100">
              <a
                href="/signup/female/0"
                style="text-decoration:none;color:#fff;"
                >वर ढूंढे</a
              >
            </button>
          </div>
          <div class="col-4 p-1">
            <button class="btn btn-rounded w-100">
              <a href="/signup/male/0" style="text-decoration:none;color:#fff;"
                >वधु ढूंढे</a
              >
            </button>
          </div>
          <div class="col-4 p-1">
            <button class="btn btn-rounded w-100">
              <a
                href="/agentregistration"
                style="text-decoration:none;color:#fff;"
                >एजेंट</a
              >
            </button>
          </div>
        </div>

        <br /><br />
        <div class="row mt-4 text-center">
          <div class="col-6">
            <a href="/privacypolicy">गोपनीयता नीति</a>
          </div>
          <div class="col-6">
            <a href="/termsofuse">उपयोग की शर्तें</a>
          </div>
        </div>
      </center>
    </div>
  </body>
  <script>
    let deferredPrompt;
    let btnAdd = document.getElementById("installbtn");
    window.addEventListener("beforeinstallprompt", e => {
      btnAdd.style.display = "block";
      e.preventDefault();
      deferredPrompt = e;
    });
    btnAdd.addEventListener("click", e => {
      //btnAdd.style.display = "none";
      deferredPrompt.prompt();
      deferredPrompt.userChoice.then(choiceResult => {
        if (choiceResult.outcome === "accepted") {
          console.log("User accepted the A2HS promt");
        } else {
          console.log("User dismissed the A2HS prompt");
        }
        deferredPrompt = null;
      });
    });
  </script>
</html>
