<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Jaaniye</title>
    <style>
      .btn {
        background-color: #857fc8 !important;
        border-color: #857fc8 !important;
        border-radius: 10px !important;
      }
      .btn:hover {
        background-color: #635da7;
      }
      #DescriptionExp {
        font-size: 15px;
      }
    </style>
  </head>
  {% include 'navbar.html' %}
  <body>
    <section id="Description" class="px-3 mt-6">
      <div class="container">
        <div class="row text-center">
          <div class="col align-middle">
            <div class="row text-center">
              <div class="col align-middle">
                <h3 class="font-weight-bold pt-4">हमारी ऐप कैसे काम करती है</h3>
                <br />
                <p
                  class="lead font-weight-normal text-justify"
                  id="DescriptionExp"
                >
                  रिश्ते की बात आगे बढ़ाने के लिए जो जानकारी चाहिए, जैसे वर-वधु
                  की उम्र ,व्यवसाय -कामकाज ,परिवार/पिता का व्यवसाय-कामकाज ,धर्म,
                  जाति-उपजाति, परिवार में सदस्यों की संख्या आदि का ब्योरा वर-वधु
                  की प्रोफ़ाइल में दिया गया है | हर प्रोफ़ाइल के साथ कॉल और चैट
                  बटन दिए गए हैं। रिश्ता पसंद आने पर आप दूसरे पक्ष से फोन पर बात
                  कर सकते हैं और चैट भी कर सकते हैं। हम रोज़ाना आपको देश भर से 15
                  योग्य रिश्ते दिखाएंगे। रिश्ते ढूंढने के लिए आपको निम्न फीचर
                  मिलेंगे:<br /><br />

                  कॉल: हर रिश्ते/प्रोफाइल के साथ कॉल का बटन है। आपको रोज़ 15
                  रिश्तों के विकल्प मिलेंगे उनमें से पांच चुनिंदा रिश्तों के लिए
                  वर/वधु पक्ष से हमारे कॉल विकल्प के ज़रिये बात कर सकते हैं।<br /><br />

                  शॉर्टलिस्ट: उक्त पांच पक्षों के बात करने के अलावा भी यदि बाकी
                  10 में से कोई रिश्ता/प्रोफाइल आपको पसंद आता है तो आप उसे
                  शॉर्टलिस्ट कर बाद के लिए रख सकते हैं। इनसे आप अगले दिन हमारे
                  कॉल विकल्प के ज़रिये बात कर सकते हैं।<br /><br />

                  चैट : हर रिश्ते/प्रोफाइल के साथ चैट बटन है। आप अपनी मर्ज़ी से
                  कितनी ही देर तक और किसी से भी चैट कर सकते हैं। चैट ऑप्शन
                  अनलिमिटेड है।<br /><br />

                  हमारी फीस: वर/वधू ढूंढने के लिए हमारी फीस प्रति रिश्ता एक रुपए
                  से भी कम है। अपना प्रोफाइल बना कर और 2100 रुपये का भुगतान कर
                  छह महीने तक रोज 15 नए रिश्ते देख सकते हैं। इन छह महीनों के
                  दौरान 2700 रिश्तों में से अपने या अपने परिजन के लिए योग्य जीवन
                  साथी का चुनाव कर सकते हैं। इस तरह एक रिश्ते का विकल्प देखने की
                  औसत लागत 77 पैसे होगी| <br />
                  <br />
                  हमारा मकसद, हज़ारों रिश्ते आपकी हथेली में रखना है |
                </p>
              </div>
            </div>

            <div class="row text-center mt-4">
              <div class="col align-middle">
                <a
                  href="/additionalinfo"
                  class=" btn btn-rounded-circle btn-primary w-75"
                >
                  ऐप के फीचर्स
                </a>
              </div>
            </div>

            <div class="row text-center mt-2">
              <div class="col align-middle">
                <a
                  href="/varlanding"
                  class=" btn btn-rounded-circle btn-primary w-75"
                  >वधु ढूंढने का उदाहरण</a
                >
              </div>
            </div>

            <div class="row text-center mt-2">
              <div class="col align-middle">
                <a
                  href="/vadhulanding"
                  class="btn btn-rounded-circle btn-primary w-75"
                  >वर ढूंढने का उदाहरण</a
                >
              </div>
            </div>
            <div class="row text-center justify-content-center pt-3">
              <div class="col align-middle">
                <h6 class="font-weight-bold mt-4">
                  &nbsp &nbsp जानिए : एजेंट भर्ती &nbsp &nbsp →
                </h6>
                <a
                  href="/agentjaaniye"
                  class="btn btn-rounded-circle btn-primary w-50 mt-2"
                  >यहाँ क्लिक करे</a
                ><br />
                <h6 class="font-weight-bold mt-4">
                  हमारे बारे में विस्तृत जानकारी →
                </h6>
                <a
                  href="/aboutus1"
                  class="btn btn-rounded-circle btn-primary w-50 mt-2"
                  >यहाँ क्लिक कर</a
                ><br />
                <h6 class="font-weight-bold mt-4">
                  &nbsp &nbsp जानिए : वर के लिए &nbsp &nbsp →
                </h6>
                <a
                  href="/varjaaniye"
                  class="btn btn-rounded-circle btn-primary w-50 mt-2"
                  >यहाँ क्लिक करे</a
                ><br />
                <h6 class="font-weight-bold mt-4">
                  &nbsp &nbsp जानिए : वधु के लिए &nbsp &nbsp→
                </h6>
                <a
                  href="/vadhujaaniye1"
                  class="btn btn-rounded-circle btn-primary w-50 mt-2"
                  >यहाँ क्लिक करे</a
                ><br />
                <h6 class="font-weight-bold mt-4">
                  &nbsp &nbsp हमसे संपर्क करें →
                </h6>
                <a
                  href="/contactus"
                  class="btn btn-rounded-circle btn-primary w-50 mt-2"
                  >यहाँ क्लिक कर</a
                ><br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
