<!DOCTYPE html>
<html>
  <head>
    <title>New Password</title>
  </head>
  {% include 'navbar.html' %}
  <body>
    <style>
      .btn-primary {
        background-color: #857fc8;
        border-radius: 12px;
        border-color: #857fc8;
      }
      .btn:hover {
        background-color: #625bb5;
        border-color: #625bb5;
      }
      .text-design {
        font-size: 12px;
        color: #ffa500 !important;
      }
    </style>
    <div class="container mt-6">
      <h2 class="text-center">नया पासवर्ड दर्ज करें</h2>
      <form method="POST" id="myForm">
        <input
          type="number"
          style="text-align:center;font-size:12px;"
          id="password"
          class="border-top-0 border-left-0 border-right-0 w-100 mt-5 mb-5"
          placeholder="नया पासवर्ड दर्ज करें"
          name="newpassword"
          required
        />
        <br />
        <input
          type="number"
          style="text-align:center;font-size:12px;"
          id="password_again"
          class="border-top-0 border-left-0 border-right-0 w-100"
          placeholder="नया पासवर्ड दुबारा दर्ज करें"
          name="reenterpassword"
        />
        <p
          class="w-100 lead text-muted text-design mb-2 d-none"
          id="confirm_password_alert"
        >
          दोनों में एक ही पासवर्ड डाले
        </p>
        <br />

        <input
          type="submit"
          class="btn btn-primary w-100 mt-5 mb-5"
          id="btnsubmit"
          value="सबमिट करें"
        />
        <br />
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $("#btnsubmit").click(e => {
        e.preventDefault();
        if ($("input#password").val() != $("input#password_again").val()) {
          document.getElementById("confirm_password_alert").textContent =
            "दोनों में एक ही पासवर्ड डालेें";
          document
            .getElementById("confirm_password_alert")
            .classList.remove("d-none");
          document.getElementById("password_again").focus();
        } else if (
          $("input#password").val() == $("input#password_again").val()
        ) {
          document
            .getElementById("confirm_password_alert")
            .classList.add("d-none");
        } else {
          document.getElementById("myform").submit();
        }
      });
    </script>
  </body>
</html>
