<!DOCTYPE html>
<html>
  <head>
    <title>Payment Status Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  {% include 'navbar.html' %}
  <body>
    <!-- <h2 style="text-align:center">रिश्ते ही रिश्ते</h2> -->

    <div class="container mt-6 mb-6">
      <p class="text-justify">Payment Status : {{ context.status }}</p>

      <br />
      <!-- <p>Agent Code - {{ context.user.agent_id }}</p> -->
      {% if context.status %}
      <div class="card payment">
        <p>Payment of Successful. Here are payment details:</p>
        <p>Payment Id - {{ context.payment.id }}</p>
        <p>Amount - {{ context.payment.amount / 100 }}</p>
        <p>Method - {{ context.payment.method }}</p>
        <p>Contact - {{ context.payment.contact }}</p>
      </div>
      {% endif %} {% if context.user.paid %}
      <br />
      <p>
        <button
          onclick="window.location='/listprofiles';"
          class="btn btn-block btn-primary"
        >
          वर / वधू ढूंढना शुरू करें
        </button>
      </p>

      {% endif %}
    </div>
  </body>
</html>
