<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <script type="text/javascript">
      alert("{{ message }}");
    </script>
    {% endfor %} {% endif %} {% endwith %}
    <style>
      table {
        border-collapse: separate !important;
        border-spacing: 10px;
      }
      .edit-btn {
        background-color: #857fc8 !important;
        border-color: #857fc8 !important;
        border-radius: 10px !important;
      }
    </style>
  </head>
  {% include 'navbar.html' %}
  <body>
    <!--
<h2 style="text-align:center">रिश्ते ही रिश्ते</h2>
<button class='logout' onclick="window.location='/logout';">Logout</button> -->

    <section id="display" class="px-3 mt-5 mb-6">
      <div class="container p-0">
        {% if val == 2 %} {% if value.interactions.pending %}
        <div class="row d-flex flex-row">
          <div class="text-center w-100 py-2 banner-msg">
            इन्होने आपका नम्बर देखने का रिक्वेस्ट किया है
          </div>
        </div>
        {% elif value.interactions.sent %}
        <div class="row d-flex flex-row">
          <div class="text-center w-100 py-2 banner-msg">
            आपने इनका नम्बर देखने का रिक्वेस्ट किया है
          </div>
        </div>
        {% elif value.interactions.shortlisted %}
        <div class="row d-flex flex-row">
          <div class="text-center w-100 py-2 banner-msg">
            आपने इन्हें शॉर्टलिस्ट किया है
          </div>
        </div>
        {% elif value.interactions.blocked %}
        <div class="row d-flex flex-row">
          <div class="text-center w-100 py-2 banner-msg">
            आपने इन्हे ब्लॉक किया है
          </div>
        </div>
        {% endif %} {% endif %}
        <!-- <div style="position:absolute;right:10px;top:90px;">
          <a
            href="/blocklanding/{{ value.id }}"
            style="text-decoration:none;color: #000000;"
            >ब्लॉक्
          </a>
        </div> -->
        <div class="row justify-content-center text-center">
          <div class="col align-self-center">
            <img
              src="{{ url_for('profile_img', id=value.id) }}"
              class="img-fluid w-100 my-3"
              alt="profile_pic"
            />
            <br />
            <ul class="list-group">
              <li class="list-group-item">
                <span class="pull-left"> नाम </span>
                <span class="pull-right">{{ value.name }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> आयु </span>
                <span class="pull-right">{{ value.age }}</span>
              </li>
              {% if val != 2 %}
              <li class="list-group-item">
                <span class="pull-left"> परिवार के सदस्यों की संख्या </span>
                <span class="pull-right">{{ value.family }}</span>
              </li>
              {% endif %}
              <li class="list-group-item">
                <span class="pull-left"> धर्म </span>
                <span class="pull-right">{{ value.religion }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> जाती </span>
                <span class="pull-right">{{ value.jaati }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> आपका कामकाज </span>
                <span class="pull-right">{{ value.occupation }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> पिता परिवार कामकाज </span>
                <span class="pull-right">{{ value.poccupation }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> शिक्षा </span>
                <span class="pull-right">{{ value.education }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> गांव </span>
                <span class="pull-right">{{ value.address[0] }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> तहसील </span>
                <span class="pull-right">{{ value.address[1] }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> जिला </span>
                <span class="pull-right">{{ value.address[2] }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> राज्य </span>
                <span class="pull-right">{{ value.address[3] }}</span>
              </li>
              <li class="list-group-item">
                <span class="pull-left"> पिन कोड </span>
                <span class="pull-right">{{ value.pincode }}</span>
              </li>
              {% if val != 2 %}
              <li class="list-group-item">
                <span class="pull-left"> दूसरा पक्ष कैसे कनेक्ट करे ? </span>
                <span class="pull-right">{{ value.consent }}</span>
              </li>
              {% endif %}
              <li class="list-group-item">
                <span class="pull-left"> वैवाहिक स्थिति </span>
                <span class="pull-right">{{ value.marital }}</span>
              </li>
              {% if value.gender == "male" and val != 2 %}
              <li class="list-group-item">
                <span class="pull-left"
                  >क्या आप दहेज / बारात मुक्त शादी करना चाहते हैं ?</span
                >
                <span class="pull-right">{{ value.dowry }}</span>
              </li>
              {% endif %}
              <li class="list-group-item d-none">
                <span class="pull-left">आपका पहचान पत्र</span>
                <span class="pull-right">
                  <img
                    src="{{url_for('identity_img', id=value.id)}}"
                    alt="identity"
                    style="max-height: 100px;"
                  />
                </span>
              </li>
              {% if not (value.agent_id == "") %}
              <li class="list-group-item d-none">
                <span class="pull-left">एजेंट कोड</span>
                <span class="pull-right">{{ value.agent_id }}</span>
              </li>
              {% endif %}
            </ul>

            {% if val != 2 %}
            <button
              class="btn btn-rounded-circle btn-primary w-50 mt-2 edit-btn"
              type="submit"
            >
              <a
                href="/editprofile/{{ value.id }}"
                style="text-decoration:none;color:#FFF;"
                >प्रोफाइल एडिट करें</a
              >
            </button>
            <br />
            <button
              class="btn btn-rounded-circle btn-primary w-50 mt-2 edit-btn"
              type="submit"
            >
              <a href="/historyprofile" style="text-decoration:none;color:#FFF;"
                >पपुराने प्रोफाइल</a
              >
            </button>
            {% else %}
            <div class="row d-flex-flex-row" id="phone">
              {% if connect or shortlist %} {% if value.interactions.blocked %}
              <div class="col w-100 shortlist-btn">
                <a
                  class="btn btn-large w-100"
                  href="/unblockuser/{{ value.id }}"
                >
                  ब्लौक हटायें
                </a>
              </div>
              {% elif value.interactions.connected %}
              <div class="col w-100 connect-btn">
                <a class="btn btn-large w-100" href="tel:+91-{{ value.mobno }}">
                  {{ value.mobno }}
                </a>
              </div>
              {% elif value.interactions.pending %}
              <div class="col w-100 connect-btn">
                <a
                  class="btn btn-large w-100"
                  href="/connect/{{ value.id }}/approved"
                >
                  रिक्वेस्ट स्विकार करें
                </a>
              </div>
              {% elif value.interactions.sent %}
              <div class="col w-100 shortlist-btn">
                <a class="btn btn-large w-100" href="#">
                  आपका रिक्वेस्ट पेंडिंग है
                </a>
              </div>
              {% elif value.interactions.shortlisted and connect %}
              <div class="col w-100 connect-btn">
                <a
                  href="/connect/{{ value.id }}/pending"
                  class="btn btn-large w-100"
                >
                  <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                  कॉल
                </a>
              </div>
              {% elif value.interactions.shortlisted %}
              <div class="col w-100 shortlist-btn">
                <a href="#" class="btn btn-large w-100">
                  आपने इन्हें शॉर्टलिस्ट किया
                </a>
              </div>
              {% elif connect %}
              <div class="col w-100 connect-btn">
                <a
                  href="/connect/{{ value.id }}/pending"
                  class="btn btn-large w-100"
                >
                  <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                  कॉल
                </a>
              </div>
              {% elif shortlist %}
              <div class="col w-100 shortlist-btn">
                <a href="/shortlist/{{ value.id }}/pending">
                  <i class="fa fa-sticky-note-o fa-2x" aria-hidden="true"></i>
                  शार्टलिस्ट
                </a>
              </div>
              {% endif %} {% else %} {% if value.interactions.blocked %}
              <div class="col w-100 shortlist-btn">
                <a
                  class="btn btn-large w-100"
                  href="/unblockuser/{{ value.id }}"
                >
                  ब्लौक हटायें
                </a>
              </div>
              {% elif value.interactions.connected %}
              <div class="col w-100 connect-btn">
                <a class="btn btn-large w-100" href="tel:+91-{{ value.mobno }}">
                  {{ value.mobno }}
                </a>
              </div>
              {% elif value.interactions.pending %}
              <div class="col w-100 connect-btn">
                <a
                  class="btn btn-large w-100"
                  href="/connect/{{ value.id }}/approved"
                >
                  रिक्वेस्ट स्विकार करें
                </a>
              </div>
              {% elif value.interactions.sent %}
              <div class="col w-100 shortlist-btn">
                <a class="btn btn-large w-100" href="#">
                  आपका रिक्वेस्ट पेंडिंग है
                </a>
              </div>
              {% elif value.interactions.shortlisted %}
              <div class="col w-100 shortlist-btn">
                <a href="#" class="btn btn-large w-100">
                  आपने इन्हें शॉर्टलिस्ट किया
                </a>
              </div>
              {% else %}
              <div class="col w-100 shortlist-btn">
                <a href="/shortlist#modal">
                  शार्टलिस्ट
                </a>
              </div>
              {% endif %} {% endif %} {% if not (value.interactions.blocked and
              not value.interactions.hastalked) %}
              <div class="col w-100 chat-btn">
                <a class="btn btn-large w-100" href="/chat/{{ value.id }}">
                  <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
                  चैट
                </a>
              </div>
              {% endif %}
            </div>
            {% endif %} {% if val == 2 and not value.interactions.blocked %} {%
            if value.interactions.connected or value.interactions.hastalked %}
            <div class="row d-flex flex-row">
              <div class="col">
                <a
                  href="/blocklanding/{{ value.id }}"
                  style="text-decoration:none;color:#000"
                >
                  ब्लॉक्
                </a>
              </div>
            </div>
            {% endif %} {% endif %}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
