<!DOCTYPE html>
<html>
  <title>Requests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <body>
    {% include 'navbar.html' %}
    <br />

    <div class="container mt-6 mb-6">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#" id="getout">अनुरोध भेजा</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="getin">अनुरोध प्राप्त करें</a>
        </li>
      </ul>
      <div class="card p-1 d-none" id="incoming">
        <h3>New Requests (Incoming)</h3>
        {% for value in recvReq %}
        <div class="card-body">
          <div class="well">
            <h4>{{ value["name"] }}</h4>
            <!-- <h6>{{ value["approve"] }}</h6> -->
            <a href="/connect/{{ value['id'] }}/approve" class="btn btn-success"
              >Approve</a
            >
            <a href="/connect/{{ value['id'] }}/reject" class="btn btn-danger"
              >Reject</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="card p-1" id="outgoing">
        <h3>New Requests (Outgoing)</h3>
        {% for value in sendReq %}
        <div class="card-body">
          <div class="well">
            <h4>{{ value["name"] }}</h4>
            <h6>{{ value["approve"] }}</h6>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script>
    var inbutton = document.getElementById("getin");
    var indiv = document.getElementById("incoming");
    var otbutton = document.getElementById("getout");
    var outdiv = document.getElementById("outgoing");
    inbutton.onclick = function() {
      inbutton.classList.add("active");
      otbutton.classList.remove("active");
      indiv.classList.remove("d-none");
      outdiv.classList.add("d-none");
    };
    otbutton.onclick = function() {
      otbutton.classList.add("active");
      inbutton.classList.remove("active");
      outdiv.classList.remove("d-none");
      indiv.classList.add("d-none");
    };
  </script>
</html>
