<!DOCTYPE html>
<html>
  <title>Shortlists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <body>
    {% include 'navbar.html' %}
    <style>
      .delete-btn {
        background-color: rgba(237, 37, 40, 0.37);
        color: black;
        text-decoration: none;
        padding: 4px;
      }
    </style>
    <br />

    <div class="container mt-5 mb-6">
      {% for value in sendReq %}
      <div class="text-center mt-3">
        <div class="row d-flex flex-row profile-card">
          <!-- Image div col-4 -->
          <div class="col-4">
            <img
              class="mt-4 img-fluid"
              src="{{ url_for('profile_img', id=value.id) }}"
              alt="profile_pic"
            />
          </div>
          <!-- Text div col-8 -->
          <div class="col-6 text-justify mt-4">
            <p>
              {{ value.name }}<br />
              {{ value.age }}<br />
              {{ value.religion }}<br />
              {{ value.jaati }}<br />
              {% if value.dowry == "yes" %} Dahej Bharat Mukt Shaadi {% endif %}
            </p>
          </div>
          <div class="col-2 text-justify">
            <a
              href="/shortlist/{{ value.id }}/deleted"
              class="align-right delete-btn"
            >
              डिलिट
            </a>
          </div>
        </div>
        <!-- Second div for buttons -->
        <div class="row d-flex flex-row connect-btn">
          {% if connect or shortlist %} {% if value.interactions.connected %}
          <div class="col w-100 connect-btn">
            <a class="btn btn-large w-100" href="tel:+91-{{ value.mobno }}">
              {{ value.mobno }}
            </a>
          </div>
          {% elif value.interactions.pending %}
          <div class="col w-100 connect-btn">
            <a
              class="btn btn-large w-100"
              href="/connect/{{ value.id }}/approved"
            >
              रिक्वेस्ट स्विकार करें
            </a>
          </div>
          {% elif value.interactions.sent %}
          <div class="col w-100 shortlist-btn">
            <a class="btn btn-large w-100" href="#">
              आपका रिक्वेस्ट पेंडिंग है
            </a>
          </div>
          {% elif value.interactions.shortlisted and connect %}
          <div class="col w-100 connect-btn">
            <a
              href="/connect/{{ value.id }}/pending"
              class="btn btn-large w-100"
            >
              <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
              कॉल
            </a>
          </div>
          {% elif value.interactions.shortlisted %}
          <div class="col w-100 shortlist-btn">
            <a href="#" class="btn btn-large w-100">
              आपने इन्हें शॉर्टलिस्ट किया
            </a>
          </div>
          {% elif connect %}
          <div class="col w-100 connect-btn">
            <a
              href="/connect/{{ value.id }}/pending"
              class="btn btn-large w-100"
            >
              <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
              कॉल
            </a>
          </div>
          {% elif shortlist %}
          <div class="col w-100 shortlist-btn">
            <a href="/shortlist/{{ value.id }}/pending">
              <i class="fa fa-sticky-note-o fa-2x" aria-hidden="true"></i>
              शार्टलिस्ट
            </a>
          </div>
          {% endif %} {% else %}
          <div class="col w-100 shortlist-btn">
            <a href="/shortlist">
              शार्टलिस्ट
            </a>
          </div>
          {% endif %}
          <!-- <div class="col w-100">
            <a class="btn btn-large w-100" href="#">
              <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
              कॉल
            </a>
          </div> -->
          <div class="col w-100 chat-btn">
            <a class="btn btn-large w-100" href="/chat/{{ value.id }}">
              <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
              चैट
            </a>
          </div>
        </div>
        <!-- Third div for additional details buttons -->
        <div class="row d-flex flex-row mt-1">
          <div class="text-center w-100 more-info-btn">
            <a
              class="btn btn-large w-100"
              href="/showprofile/{{ value.id }}"
              style="color:black;text-decoration:none;"
              >अधिक जानकारी</a
            >
          </div>
        </div>
      </div>
      {% else %} {% if stats.pendingReq > 0 %}
      <p>Pending Request: <a href="/connection#requests">Click here</a></p>
      {% elif stats.connect %}
      <p>Home Tab: <a href="/listprofiles">Call rishtey</a></p>
      {% elif stats.shortlist %}
      <p>Home Tab: <a href="/listprofiles">Shortlist rishtey</a></p>
      {% else %}
      <p>Shortlist Tab: <a href="/shortlist">Chat with shortlist</a></p>
      {% endif %} {% endfor %}
      <!-- <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#" id="getout">मेरी शॉर्टलिस्ट</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="getin">शॉर्टलिस्ट किया गया</a>
        </li>
      </ul> -->
      <!-- <div class="card p-1 d-none" id="incoming">
        <h3>जिन उपयोगकर्ताओं ने आपको शॉर्टलिस्ट किया है</h3>
        <h3>New Shortlists (Incoming)</h3>
        {% for value in recvReq %}
        <div class="card-body">
          <div class="well">
            <h4>{{ value["name"] }}</h4>
            <h6>{{ value["approve"] }}</h6>
            <a href="/shortlist/{{ value['id'] }}/reject">Reject</a>
          </div>
        </div>
        {% endfor %}
      </div> -->

      <!-- <div class="card p-1" id="outgoing">
        <h3>New Shortlists (Outgoing)</h3>
        <h3>आपके द्वारा शॉर्टलिस्ट किए गए उपयोगकर्ता</h3>
        {% for value in sendReq %}
        <div class="card-body">
          <div class="well">
            <h4>{{ value["name"] }}</h4>
            <h6>{{ value["approve"] }}</h6>
          </div>
        </div>
        {% endfor %}
      </div> -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="shortlistModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">शॉर्टलिस्ट खत्म हो गया है</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>अधिक जोड़ने के लिए डिलिट करें</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              बंद करे
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var url = window.location.href;
    console.log(url);
    if (url.split("#")[1] == "modal") {
      console.log("show modal");
      $("#shortlistModal").modal("show");
    }
  </script>
</html>
