<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Vadhu Empty</title>
    <meta charset="utf-8" />
    <style>
      p {
        font-size: 2em;
      }
      @media screen and (max-width: 600px) {
        .padding {
          width: 100%;
          align-items: center;
          padding-top: 40%;
          padding-bottom: 20%;
          height: 100%;
          margin: 0px;
          font-family: "segoe ui";
        }
      }
    </style>
    <title>Vadhu Blank</title>
  </head>
  {% include 'navbar.html' %}
  <body>
    <div class="padding">
      <center>
        <img src="{{ url_for('static', filename='img2.png') }}" />
        <p>25 जुलाई से आप वर ढूंढना शुरू कर सकते है |</p>
      </center>
    </div>
  </body>
</html>
