<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Jaaniye - Vadhu</title>
  </head>
  {% include 'navbar.html' %}
  <style>
    #agent_form {
      text-decoration: none;
      color: #000000;
    }

    #agent_form:hover {
      text-decoration: none;
      color: #857fc8;
    }
    #DescriptionExp {
      font-size: 15px;
    }
  </style>
  <body>
    <section id="Description" class="p-3 mt-6">
      <div class="container">
        <div class="row text-center">
          <div class="col align-middle">
            <div class="row text-center mb-5">
              <div class="col align-middle">
                <h3 class="font-weight-bold pt-4">वधु</h3>
                <br />
                <p class="font-weight-normal text-justify" id="DescriptionExp">
                  हमारा मानना है कि लड़की बोझ नहीं होती। उसकी भी इच्छा होती है कि
                  एक अच्छा परिवार मिले और ऐसा लड़का मिले जो मान-सम्मान से उसको
                  अपना जीवनसाथी बनाये | देश में अच्छे परिवार और लड़को की कमी नहीं
                  है। बात सिर्फ सही रिश्ता ढूंढने की है; ऐसे परिवार तथा लड़के से
                  जुड़ पाने की है जो सोच, आर्थिक स्थिति, मान सम्मान में आपके
                  मनोनुकूल हो।<br /><br />

                  हम आपके माता-पिता और आपको हज़ारों रिश्तों का विकल्प देते हैं
                  जिनमें से अपने अनुरूप रिश्ते को चुनना और शादी करना आपके और
                  आपके परिवार के हाथ में है।<br /><br />

                  रिश्ते की बात आगे बढ़ाने के लिए जो जानकारी ज़रूरी है, जैसे
                  वर-वधु की उम्र,कामकाज ,परिवार/पिता का कामकाज-व्यवसाय,धर्म
                  ,जाति-उपजाति ,परिवार में सदस्यों की संख्या आदि का ब्योरा हर
                  वर-वधु की प्रोफ़ाइल में दिया गया है। इसके साथ कॉल बटन भी दिया
                  गया है जिसके माध्यम से रिश्ता पसंद आने पर दोनों पक्ष आपस में
                  बात भी कर सकते है | सबसे ज़रुरी बात यह है कि पहली बार कॉल
                  ऑटोमेटिक मशीन से ज़रिए होगी और आपको एक दूसरे का मोबाइल नंबर
                  नहीं दिखेगा | अगर पहली बात-चीत करने के बाद दोनों पक्ष बात-चीत
                  आगे बढ़ाना चाहते है तो कृपया एक दूसरे का मोबाइल नंबर ले ले |
                  हमने जाति - उपजाति से ऊपर उठकर और दहेज़ तथा बारातमुक्त शादी का
                  भी विकल्प दिया है। यदि आप अपने लड़के-लड़की की प्रोफ़ाइल बनाते
                  हुये आप इस विकल्प को चुनते हैं तो हमारा ऐप आपको ऐसे रिश्ते
                  दिखायेगा जिसमें दूसरे पक्ष ने भी इसी विकल्प का चयन किया होगा।
                  हमारा मकसद है एक क्लिक पर आपको हज़ारों रिश्तों का विकल्प देना
                  लेकिन हाँ, शादी करना आपके हाथ में है।
                  <br /><br />
                </p>
              </div>
            </div>
            <a href="/signup/female/0" id="female_form">
              वर ढूंढन के लिए यहाँ क्लिक करे
            </a>
            <hr class="w-50" />
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
