<!DOCTYPE html>
<html>
<head>
  <title>Var detailed</title>
<link rel="stylesheet" href="../static/var_detailed.css">
<link rel="stylesheet" href="{{ url_for('static', filename='var_detailed.css') }}">
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <script type="text/javascript">alert("{{ message }}")</script>
      {% endfor %}
   {% endif %}
{% endwith %}
</head>
{% include 'navbar.html' %}
<body>



  <!-- <h1>RISHTEY HI RISHTEY</h1> -->
<!-- <button class='logout' onclick="window.location='/logout';">Logout</button> -->

 <p><!--अधिक जानकारी-->Aadhik Jaankari</p>
<div class="container">

<form method='POST' enctype="multipart/form-data">
  <div class="row">
    <div class="col-25">
      <label for="DAHEJ BARAT MUKT SHADI"><b>DAHEJ BARAT MUKT SHADI</b></label>
    </div>
    <div class="col-75">
      <input type="checkbox" name="dowry" value="dowry">
    </div>
  </div>


  <div class="row">
    <div class="col-25">
      <label for="fname">धर्म Dharm</label>
    </div>
    <div class="col-75">
      <select name="religion" required>
        {% for item in religion %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for=">जाति">जाति Jaati</label>
    </div>
    <div class="col-75">
      <select name='jaati'>
          {% for item in jaati %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">आपका कामकाज Aapka Kaamkaj</label>
    </div>
    <div class="col-75">
    <select name='occupation' required>
        {% for item in occupation %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">पिता/परिवार कामकाज Pita Pariwaar Kaamkaj</label>
    </div>
    <div class="col-75">
      <select name='poccupation' required>
          {% for item in occupation %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">शिक्षा Shiksha</label>
    </div>
    <div class="col-75">
    <select name='education' required>
          {% for item in education %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"><h2>पता Pata</h2></label>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> गांव  Gaon</label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="गांव दर्ज करें" name="village" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> तहसील Tehshil</label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="तहसील दर्ज करें" name="tehshil">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> जिला Jila</label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="जिला दर्ज करें" name="district" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="country"> राज्य चुनें Rajya Chune</label>
    </div>
    <div class="col-75">
      <select name="state" required>
          {% for item in state %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
          </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">पिन कोड Pin Code</label>
    </div>
    <div class="col-75">
      <input type="number" onkeyup='getData()' placeholder="पिन कोड दर्ज करें" name="PINCODE" required>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">अपना पहचान पत्र अपलोड करे Aapna Pehchan Patra Upload Karey</label>
    </div>
    <div class="col-75">
     <input type="file" class='UPLOAD' accept="image/png, image/jpeg, image/jpg" name="id_image" required >
    </div>
  </div>

   <div class="col-25">
      <label for="fname">आपके परिवार में सदस्यों की संख्या No. of members in your family </label>
    </div>
    <div class="col-75">
      <input type="number" placeholder="आपके परिवार में सदस्यों की संख्या" name="family" required>
    </div>
   </div>

   <div class="col-75">
     <input type="submit" value="Payment Karey aur vadhu dhunde">
    </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"><h5>नियम और शर्तें लागू Terms and Conditions applied </h5></label>
    </div>
  </div>

  </form>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
   })();
function getData(){
  delay(function(){
           $.ajax({
             'url': '/pincode/'+$("input[name='PINCODE']").val(),
             'success': function (response) {
               console.log(response);
               $("select[name='state']").val(response['data'][3]);
               $("input[name='district']").val(response['data'][5]);
             },
             'error': function (e) {
               alert(e.message)
             }
           });
  }, 2000 );
};
</script>

</html>
