<!DOCTYPE html>
<html>
  <title>Var Landing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include 'navbar.html' %}
  <style>
    .landing {
      position: absolute;
      top: 11%;
    }
  </style>

  <body>
    {% if user and user.is_authenticated %}
    <a href="/payment/pay">
      <img
        src="{{ url_for('static', filename='varlanding.png') }}"
        class="img-fluid landing"
        alt="varlanding"
    /></a>
    {% else %}
    <img
      src="{{ url_for('static', filename='varlanding.png') }}"
      alt="varlanding"
      class="img-fluid landing"
    />
    {% endif %}
  </body>
</html>
