<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
  <!--  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jaaniye_inside.css') }}"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-141544391-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-141544391-1");
    </script>
  </head>
  <style>
  #DescriptionExp{
    font-size: 15px;
  }
</style>
  <!--{% include 'navbar.html' %}-->
  <body>


           <section id="Description" class="p-3">
            <div class="container">
              <div class="row text-center">
                <div class="col align-middle">
                  <div class="row text-center">
                    <div class="col align-middle">
                  <h3 class="font-weight-bold pt-4">हमारे बारे में</h3>
                  <br />
                  <p class="lead font-weight-normal text-justify" id="DescriptionExp">

                      आज ग्रामीण लोग अपने बच्चों के लिए रिश्ते नहीं ढूंढ पा रहे हैं |यह एक
                      सामाजिक समस्या है। यह उनके लिए सूखा ,कर्जा , खराब फसल आदि से बड़ी
                      समस्या है क्योंकि इसके कारण उनका वंश आगे नहीं बढ़ पा रहा हैं ,समाज में
                      उनकी इज्ज़त कम होती है और सबसे ज़रूरी समाज का ढाँचा हिलता है क्योंकि
                      परिवार ही वो धागा है जिसने समाज को जोड़ कर रखा है |<br /><br />

                      सदियों से ग्रामीण लोग नानका , दादका और नज़दीकी रिश्तेदारों के माध्यम
                      से अपने बच्चों का रिश्ता करते आये है परन्तु आज की तारीख मे इस माध्यम
                      से रिश्ते नहीं हो पा रहे है | इसका कारण है की कुछ राज्यों मे शादी के
                      लायक लड़के बहुत है और कुछ राज्यों मे शादी के लायक लड़कियाँ बहुत है पर
                      ग्रामीण लोगो के पास रिश्ते ढूंढने का कोई माध्यम नहीं है | इस स्थिति के
                      बहुत सारे कारण है, जैसे कुछ राज्यों में भ्रूण हत्या ,लड़कियों का लड़कों
                      से ज्यादा पढ़ा लिखा होना ,लड़की के परिवार का नौकरी पेशे वाला लड़का खोजने
                      की इच्छा | और दूसरी तरफ कुछ राज्य है जिसमे लड़के IAS , IIT और दूसरी बड़ी
                      परीक्षाओं में सफलता प्राप्त करके उच्च अधिकारी बनते है और उनके परिवार
                      वाले दहेज़ की इतनी बड़ी मांग करते है कि एक आम पिता के लिए अपनी बेटी के
                      लिए योग्य वर ढूंढ़ना नामुमकिन है | <br /><br />

                      हमारा मानना है कि जीवन साथी का हक़ , परिवार को आगे बढ़ने का हक़ सबका है
                      चाहे उसका जीवन यापन का ज़रिया जो भी हो चाहे लड़का खेती करता हो ,दुकान
                      चलाता हो,नौकरी करता हो या और कुछ ,इसी तरह अपनी लड़की के लिए योग्य वर
                      चुनना और उसकी योग्य वर से शादी कराना बिना अपना पूरा जीवन कर्ज मे डाले
                      हर पिता का हक़ है | <br /><br />

                      आज देश पहले से कही अधिक विकसित हो रहा है | सड़के और मोबाइल/टेक्नोलॉजी
                      के कारण पूरा देश एक गाँव जितना हो गया है | आप चुटकियों में किसी से भी
                      बात कर सकते हो ,बनिस्पर वीडियो कॉल कर सकते हो , आप सड़क या ट्रेन से एक
                      - दो दिन मे देश में कहीं भी जाया जा सकता हैं । हमारा मानना है कि हमे
                      अपने बच्चों के लिए योग्य रिश्ते ढूंढने चाहिये और उसके लिए तहसील, जिला
                      या राज्य का बंधन नहीं होना चाहिए | जैसे हमारी बुजुर्गों की पूत-सपूत के
                      बारे मे दी हुई सीख है ,वैसे ही आज वक़्त आ गया है कि हम अपने बच्चों के
                      लिए योग्य वर-वधु ढूंढे चाहे वो किसी भी राज्य से ही क्यूँ न हो | जहा तक
                      भाषा ,रीति-रिवाज का सवाल है ,हर राज्य मे हर तरह के धर्म ,जाति- उपजाति
                      के लोग है , हमें ज़रूरत है सिर्फ अपने से ताल-मेल खाता हुआ परिवार ढूंढने
                      की |
                      <br /><br />
                      इन समस्याओं के निवारण के लिए हमने एक पहल की है रिश्ते ही रिश्ते ऐप |
                      जो माता - पिता नानका - दादका और रिश्तेदारी के माध्यम से आपने बच्चों के
                      लिए योग्य वर - वधु नहीं ढूंढ पा रहे है हम उनको हज़ारों रिश्ते बताएं
                      ताकि चाहे वो लड़के के माता-पिता हो या लड़की के , वो इज़्ज़त से अपने बच्चों
                      की शादी कर सके | <br /><br />

                      हमारा मानना है कि शादी - ब्याह का संजोग ऊपरवाला बनाता है और धरती पर
                      माता - पिता से बेहतर अपने बच्चों का भला कोई नहीं जानता इसलिए हमारा
                      मकसद सिर्फ हज़ारों रिश्ते आपकी हथेली मे रखना है | इन हज़ारो रिश्तो मे से
                      योग्य वर-वधु चुनना माता - पिता के हाथ में है|

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
          </section>

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
