<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profiles</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</head>{% include 'navbar.html' %}
<body>


    <br>
<!-- <style>
    .logout{
      width: 200px;
    right: 10px;
    position: absolute;
    top: 20px;
    }</style>
<br><br><br>
<div class=" text-center">
  <h1>Rishtey hi Rishtey</h1>
  <button class='logout' onclick="window.location='/logout';">Logout</button>
   -->

</div>

<br><br><br>

<div class="container">
  <div class="row">
    {% for value in lst %}
    <div class="col-sm-4">
      <div class="card" >
      <img class="card-img-top" src="{{url_for('profile_img', id=value['id'])}}" alt="Card image" style="max-height: 200px;">
      <div class="card-body">
        <h4 class="card-title">{{value['name']}}</h4>

        <p>आयु - {{ value['age'] }}<br>
          मोबाइल नंबर - {{ value['mobno'] }}<br>
          धर्म - {{ value['religion'] }}<br>
          जाती - {{ value['jaati'] }}<br>
          आपका कामकाज  - {{ value['occupation'] }}<br>
          पिता परिवार कामकाज  - {{ value['poccupation'] }}<br>
          शिक्षा - {{ value['education'] }}</p>

      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>

</body>
</html>
