<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jaaniye - Agent</title>
  <!--  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--<link
      rel="stylesheet"
      href="{{ url_for('static', filename='jaaniye_inside.css') }}"
    />-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-141544391-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-141544391-1");
    </script>
  </head>
  <style>
    #agent_form{
      text-decoration:none;
      color:#000000;
    }

      #agent_form:hover{
        text-decoration:none;
        color:#857fc8;
      }
      #DescriptionExp{
        font-size: 15px;
      }
  </style>
  <!--{% include 'navbar.html' %}-->
  <body>

    <section id="Description" class="p-3">
     <div class="container">
       <div class="row text-center">
         <div class="col align-middle">
           <div class="row text-center mb-5">
             <div class="col align-middle">
           <h3 class="font-weight-bold pt-4">एजेंट भर्ती</h3>
           <br />
           <p class="lead font-weight-normal text-justify" id="DescriptionExp">
             "आज ग्रामीण लोग अपने बच्चों के लिए रिश्ते नहीं ढूंढ पा रहे है , ये एक
             बहुत बड़ी सामाजिक समस्या है | इस समस्या के निवारण के लिए हमने एक पहल
             की है - रिश्ते ही रिश्ते ऐप <br />

             हमारे साथ जुड़ कर आप अपने घर गांव में रहते हुए प्रतिमाह 20000 रुपये से
             भी अधिक कमा सकते है , हमारा एजेंट बनने के लिए शिक्षा या भाषा का कोई
             बंधन नहीं है , अगर आप मिलनसार व्यक्ति है और आपके पास इंटरनेट डाटा वाला
             मोबाइल है तो आप हमारे साथ जुड़ सकते है |<br />

             एजेंट की भर्ती 1 सितंबर 2019 से खूलेगी है |उसके बाद एजेंट की भर्ती
             अगली पोस्ट आने तक बंद रहेगी | हमारा एजेंट चुनने का तरीका इस प्रकार है
             -
             <br />
             1. Rishteyhirishtey.in एप डौन्लोड करके एजेंट बटन पर क्लिक करके आवेदन
             फार्म भरें! डाउनलोड फ्री है | आपको आप का यूनिक एजेंट कोड अलॉट किया
             जाएगा |<br />
             2. अपना एजेंट कोड डाल कर तीन वधु के प्रोफाइल बनवाये, फिलहाल वधु का
             प्रोफाइल बनाना फ्री है|<br />
             3. आपको मिले मैसेज मैं दिए गए नंबर पर (10 से 6 के बीच ) हमें संपर्क
             करे | हमारी HR टीम आपका इंटरव्यू लेगी और आपके बनाये हुए तीनो वधु
             प्रोफाइल की जांच करेगी|<br />
             4. सिलेक्टेड कैंडिडेट 500 रुपये की रेगिस्ट्रशन फीस जमा करवा सकते हैं |
             यह पेमेंट ऑनलाइन करना है | यह 500 रुपए की राशि रिफंडेबल है|<br />
             5. 1 सितंबर 2019 से आपअपना कोड इस्तेमाल करके वर के प्रोफाइल बनवा कर और
             25 अगस्त से वधु के प्रोफाइल बनवा कर रूपए कमा सकते हैं! आप प्रत्येक
             प्रोफाइल का 1000 रूपए कमा सकते हैं |

           </p>
         </div>
       </div>
         <a href="/agentform" id="agent_form"> एजेंट आवेदन फॉर्म भरने के लिए यहाँ क्लिक करे </a>
         <hr class="w-50"/>
     </div>
   </div>
 </div>
   </section>
<!--
    <div class="w3-container" style="padding:50px 20px">
      <CENTER><h1>एजेंट भर्ती</h1></CENTER>
      <p class=" w3-large">
        <center>
          "आज ग्रामीण लोग अपने बच्चों के लिए रिश्ते नहीं ढूंढ पा रहे है , ये एक
          बहुत बड़ी सामाजिक समस्या है | इस समस्या के निवारण के लिए हमने एक पहल
          की है - रिश्ते ही रिश्ते ऐप <br />

          हमारे साथ जुड़ कर आप अपने घर गांव में रहते हुए प्रतिमाह 20000 रुपये से
          भी अधिक कमा सकते है , हमारा एजेंट बनने के लिए शिक्षा या भाषा का कोई
          बंधन नहीं है , अगर आप मिलनसार व्यक्ति है और आपके पास इंटरनेट डाटा वाला
          मोबाइल है तो आप हमारे साथ जुड़ सकते है |<br />

          एजेंट की भर्ती 1 सितंबर 2019 से खूलेगी है |उसके बाद एजेंट की भर्ती
          अगली पोस्ट आने तक बंद रहेगी | हमारा एजेंट चुनने का तरीका इस प्रकार है
          -
          <br />
          1. Rishteyhirishtey.in एप डौन्लोड करके एजेंट बटन पर क्लिक करके आवेदन
          फार्म भरें! डाउनलोड फ्री है | आपको आप का यूनिक एजेंट कोड अलॉट किया
          जाएगा |<br />
          2. अपना एजेंट कोड डाल कर तीन वधु के प्रोफाइल बनवाये, फिलहाल वधु का
          प्रोफाइल बनाना फ्री है|<br />
          3. आपको मिले मैसेज मैं दिए गए नंबर पर (10 से 6 के बीच ) हमें संपर्क
          करे | हमारी HR टीम आपका इंटरव्यू लेगी और आपके बनाये हुए तीनो वधु
          प्रोफाइल की जांच करेगी|<br />
          4. सिलेक्टेड कैंडिडेट 500 रुपये की रेगिस्ट्रशन फीस जमा करवा सकते हैं |
          यह पेमेंट ऑनलाइन करना है | यह 500 रुपए की राशि रिफंडेबल है|<br />
          5. 1 सितंबर 2019 से आपअपना कोड इस्तेमाल करके वर के प्रोफाइल बनवा कर और
          25 अगस्त से वधु के प्रोफाइल बनवा कर रूपए कमा सकते हैं! आप प्रत्येक
          प्रोफाइल का 1000 रूपए कमा सकते हैं |<br />

          <h3>
            <a href="/agentform"
              >एजेंट आवेदन फॉर्म भरने के लिए यहाँ क्लिक करे</a
            >
          </h3>
        </center>
        <br />
      </p>
    </div>-->
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
