<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>

    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='jaaniye_inside.css') }}">
     Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141544391-1"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141544391-1');
    </script>
  <style>
    .check_write{
      font-size: 10px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="common.css">
  </head>
  <!--{% include 'navbar.html' %}-->
  <body>
    <section id="Description" class="p-3">
     <div class="container">
       <div class="row text-center align-items-center">
         <div class="col align-middle">
           <h3 class="font-weight-bold pt-4 mb-5">हमसे संपर्क करें</h3>
         </div>
       </div>
       <div class="d-flex flex-row text-left">
           <div class="p-3 align-self-middle">
            <i class="fa fa-map-marker fa-large" aria-hidden="true"></i>
          </div>
          <div class="p-2 align-self-middle align-middle">
            <p class="check_write pt-1">Address : Urban Pendu Pvt Ltd, KH No. 253, GF front side, Kohinoor Enclave, Westend Marg, Saidulajab, New Delhi. PinCode-110030</p>
          </div>
          </div>

          <div class="d-flex flex-row text-left">
              <div class="p-3 align-self-middle ">
               <i class="fa fa-phone fa-large" aria-hidden="true"></i>
             </div>
             <div class="p-2 align-self-middle">
               <p class="check_write pt-2"> मोबाइल नंबर : +91 9811965835</p>
             </div>
             </div>

             <div class="d-flex flex-row text-left align-items-middle">
                 <div class="p-3 align-self-middle">
                  <i class="fa fa-envelope fa-large" aria-hidden="true" ></i>
                </div>
                <div class="p-2 align-self-middle align-middle">
                    <p class="check_write pt-2"> Email: Contact@RishteyhiRishtey.in</p>
                </div>
                </div>
            <br>
            <div class="row text-center align-items-center">
              <div class="col align-middle">
                <form action="/" method="POST">
                  <p><input class="w-100" type="text" placeholder="  नाम" required name="name"></p>
                  <p><input class="w-100" type="number" placeholder="  मोबाइल नंबर" required name="subject"></p>
                  <p><input class="w-100" type="text" placeholder="  सन्देश लिखे" required name="message"></p>
                  <div class="row text-left">
                    <div class="col">
                      <p>
                        <button class="btn btn-rounded-circle  w-50 mt-2" type="submit">
                          <i class="fa fa-paper-plane fa-large" aria-hidden="true"></i> <a href="thankyou" style="text-decoration:none; color:#fff; font-size:12px;">सन्देश भेजे</a>
                        </button>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
   </section>


  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>

    function goBack() {
     window.history.back();
    }
    </script>
</html>
