<!DOCTYPE html>
<html>
<head>
  <title>Edit Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/var_initial.css">
<link rel="stylesheet" href="{{ url_for('static', filename='var_initial.css') }}">
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <script type="text/javascript">alert("{{ message }}")</script>
      {% endfor %}
   {% endif %}
{% endwith %}
</head>
{% include 'navbar.html' %}
<body>

<!-- <h1>RISHTEY HI RISHTEY</h1>
<button class='logout' onclick="window.location='/logout';">Logout</button> -->

<br>

{% if error %}
<p> Agent Ka Data Edit</p>
{{error}}
{% elif var %}
<p>वर की बायोडाटाी बानये</p>
<div class="container">
<form action='' method='POST' >
<!--
  <div class="row">
    <div class="col-25">
      <label for="fname">प्रोफ़ाइल चित्र चुनें Choose a profile picture</label>
    </div>
    <div class="col-75">
     <input type="file" class='UPLOAD' accept="image/png, image/jpeg, image/jpg" name="profile_image" required >
    </div>
  </div> -->

  <div class="row">
    <div class="col-25">
      <label for="fname">नाम</label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="नाम दर्ज" value="{{var.name}}" name="name" required>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lname"> आयु</label>
    </div>
    <div class="col-75">
      <input type="number" placeholder=" उम्र दर्ज करें" name="age" value="{{var.age}}" required min="18" >
    </div>
  </div>


  <div class="row">
      <div class="col-25">
        <label for="fname">मोबाइल नंबर</label>
      </div>
      <div class="col-75">
          <input type="hidden"value="{{var.mobno}}" disabled name='mobno'/>
          {{ var.mobno }}
      </div>
    </div>

  <div class="row">
    <div class="col-25">
      <label for="DAHEJ BARAT MUKT SHADI"><b>DAHEJ BARAT MUKT SHADI</b></label>
    </div>
    <div class="col-75">
      {% if var.dowry %}
      <input checked type="checkbox" name="dowry" value='dowry'>
      {% else %}
      <input type="checkbox" name="dowry" value='dowry'>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-25">
      <label for="fname">धर्म </label>
    </div>
    <div class="col-75">
      <select name="religion" required>
          <option  default></option>
          {% for item in religion %}
        {% if var.religion == item %}
        <option selected value="{{ item }}">{{ item }}</option>
        {% else %}
          <option value="{{ item }}">{{ item }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for=">जाति">जाति Jaati</label>
    </div>
    <div class="col-75">
      <select name='jaati'>
          <option  default></option>
          {% for item in jaati %}
            {% if var.jaati == item %}
            <option selected value="{{ item }}">{{ item }}</option>
            {% else %}
              <option value="{{ item }}">{{ item }}</option>
            {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">आपका कामकाज Aapka Kaamkaj</label>
    </div>
    <div class="col-75">
    <select name='occupation' required>
        <option  default></option>
        {% for item in occupation %}
        {% if var.occupation == item %}
        <option selected value="{{ item }}">{{ item }}</option>
        {% else %}
          <option value="{{ item }}">{{ item }}</option>
        {% endif %}
        {% endfor %}
    </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">पिता/परिवार कामकाज Pita Pariwaar Kaamkaj</label>
    </div>
    <div class="col-75">
      <select name='poccupation' required>
          <option  default></option>
          {% for item in occupation %}
          {% if var.poccupation == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">शिक्षा Shiksha</label>
    </div>
    <div class="col-75">
    <select name='education' required>
        <option  default></option>
        {% for item in education %}
          {% if var.education == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"><h2>पता Pata</h2></label>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> गांव  Gaon</label>
    </div>
    <div class="col-75">
      <input type="text" value="{{var.address[0]}}" placeholder="गांव दर्ज करें" name="village" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> तहसील Tehshil</label>
    </div>
    <div class="col-75">
      <input type="text" value="{{var.address[1]}}" placeholder="तहसील दर्ज करें" name="tehshil">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> जिला Jila</label>
    </div>
    <div class="col-75">
      <input type="text" value="{{var.address[2]}}" placeholder="जिला दर्ज करें" name="district" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="country"> राज्य चुनें Rajya Chune</label>
    </div>
    <div class="col-75">
      <select name="state" required>
          <option default></option>
          {% for item in state %}
          {% if var.address[3] == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
          </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">पिन कोड Pin Code</label>
    </div>
    <div class="col-75">
      <input type="number" onkeyup='getData()' placeholder="पिन कोड दर्ज करें" value="{{var.address[4]}}" name="PINCODE" required>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-25">
      <label for="fname">अपना पहचान पत्र अपलोड करे Aapna Pehchan Patra Upload Karey</label>
    </div>
    <div class="col-75">
     <input type="file" class='UPLOAD' accept="image/png, image/jpeg, image/jpg" name="id_image" required >
    </div>
  </div> -->

  <div class="row">
   <div class="col-25">
      <label for="fname">आपके परिवार में सदस्यों की संख्या No. of members in your family </label>
    </div>
    <div class="col-75">
      <input type="number" placeholder="आपके परिवार में सदस्यों की संख्या" value="{{var.family}}" name="family" required>
    </div>
   </div>

   <div class="row">
    <div class="col-25">
      <label for="fname">एजेंट कोड</label>
    </div>
    <div class="col-75">
        <input type="hidden" value="{{var.agent_id}}" name='agent_id'/>
        {{var.agent_id}}
      </div>
   </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"><h5>नियम और शर्तें लागू </h5></label>
    </div>
  </div>

    <input type="submit" value="Submit Karey" id='submit'>

</form>

</div>
{% elif vadhu %}
<center><h3>वधु की बायोडाटाी बानये</h3></center>
<div class="container">

<form method="POST" enctype="multipart/form-data">
<!--
  <div class="row">
    <div class="col-25">
      <label for="fname">प्रोफ़ाइल चित्र चुनें Choose a profile picture</label>
    </div>
    <div class="col-75">
     <input type="file" class='UPLOAD' accept="image/png, image/jpeg, image/jpg" name="profile_image" required >
    </div>
  </div> -->
  <div class="row">
    <div class="col-25">
      <label for="fname">प्रोफ़ाइल चित्र चुनें</label>
    </div>
    <div class="col-75">
     <input type="file" class='UPLOAD' accept="image/png, image/jpeg, image/jpg" name="profile_image" >
    </div>
  </div>


  <div class="row">
    <div class="col-25">
      <label for="fname">नाम</label>
    </div>
    <div class="col-75">
      <input type="hidden" name="name" value="{{vadhu.name}}" disabled>{{vadhu.name}}
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="lname"> आयु</label>
    </div>
    <div class="col-75">
      <input type="number" placeholder="उम्र दर्ज करें" name="age" value="{{vadhu.age}}" required min="18" max="40">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">मोबाइल नंबर</label>
    </div>
    <div class="col-75">
      <input type="hidden" disabled value="{{vadhu.mobno}}" name='mobno'/>
      {{vadhu.mobno}}
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-25">
      <label for="lname">पासवर्ड</label>
    </div>
    <div class="col-75">
      <input type="number" placeholder="pass" value="pass" >
    </div>
  </div> -->

  <div class="row">
    <div class="col-25">
      <label for="fname">धर्म</label>
    </div>
    <div class="col-75">
      <select name="religion" required>
          <option  default></option>
          {% for item in religion %}
        {% if vadhu.religion == item %}
        <option selected value="{{ item }}">{{ item }}</option>
        {% else %}
          <option value="{{ item }}">{{ item }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for=">जाति">जाति</label>
    </div>
    <div class="col-75">
      <select name='jaati'>
          <option  default></option>
          {% for item in jaati %}
          {% if vadhu.jaati == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">आपका कामकाज</label>
    </div>
    <div class="col-75">
    <select name='occupation' required>
        <option  default></option>
        {% for item in occupation %}
        {% if vadhu.occupation == item %}
        <option selected value="{{ item }}">{{ item }}</option>
        {% else %}
          <option value="{{ item }}">{{ item }}</option>
        {% endif %}
        {% endfor %}
    </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">पिता/परिवार कामकाज</label>
    </div>
    <div class="col-75">
      <select name='poccupation' required>
          <option  default></option>
          {% for item in occupation %}
          {% if vadhu.poccupation == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">शिक्षा </label>
    </div>
    <div class="col-75">
    <select name='education' required>
        <option  default></option>
          {% for item in education %}
          {% if vadhu.education == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"><h2>पता</h2></label>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname">पिन कोड </label>
    </div>
    <div class="col-75">
      <input type="number" onkeyup='getData()' placeholder="पिन कोड दर्ज करें" value="{{vadhu.address[4]}}" name="PINCODE" required>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> गांव</label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="गांव दर्ज करें" value="{{vadhu.address[0]}}" name="village" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> तहसील </label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="तहसील दर्ज करें" value="{{vadhu.address[1]}}" name="tehshil">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="fname"> जिला</label>
    </div>
    <div class="col-75">
      <input type="text" placeholder="जिला दर्ज करें" value="{{vadhu.address[2]}}" name="district" >
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="country"> राज्य चुनें</label>
    </div>
    <div class="col-75">
      <select name="state" required>
          <option  default></option>
          {% for item in state %}
          {% if vadhu.address[3] == item %}
          <option selected value="{{ item }}">{{ item }}</option>
          {% else %}
            <option value="{{ item }}">{{ item }}</option>
          {% endif %}
          {% endfor %}
          </select>
    </div>
  </div>


<!--
  <div class="row">
    <div class="col-25">
      <label for="fname">अपना पहचान पत्र अपलोड करे Aapna Pehchan Patra Upload Karey</label>
    </div>
    <div class="col-75">
     <input type="file" class='UPLOAD' accept="image/png, image/jpeg, image/jpg" name="id_image" required >
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-25">
      <label for="fname">एजेंट कोड</label>
    </div>
    <div class="col-75">
        <input type="hidden" value="{{vadhu.agent_id}}" name='agent_id'/>
        {{vadhu.agent_id}}    </div>
   </div> -->
   <input type="hidden" name="family" value="{{None}}">

<br><br>
  <input type="submit" id='submit' value="Submit karey "><br><br>

</form>
</div>
{% elif agent %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-25">
        <label for="fname"> नाम</label>
      </div>
      <div class="col-75">
        <input type="text" name="name" value='{{agent.name}}'>
      </div>
    </div>
      <div class="row">
      <div class="col-25">
        <label for="fname"> पिता का नाम</label>
      </div>
      <div class="col-75">
          <input type="text" name="fname" value='{{agent.fname}}'>
        </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname"> मोबाइल नंबर</label>
      </div>
      <div class="col-75">
        <input type="hidden" name="mobno" min="1000000000" max="9999999999" value="{{agent.mobno}}">
        {{agent.mobno}}
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="country"> आपके पहचान मैं अविवाहित लड़को की संख्यां</label>
      </div>
      <div class="col-75">
        <input type="number" placeholder="लगभग" name="unmarried_boys" value={{agent.age[0]}} required max='10000'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country"> आपके पहचान मैं अविवाहित लड़कियों की संख्यां</label>
      </div>
      <div class="col-75">
          <input type="number" placeholder="लगभग" name="unmarried_girls" value={{agent.age[1]}}  required max='10000'>
      </div>
    </div>
<!--
    <div class="row">
      <div class="col-25">
        <label for="lname">Upload your identity card आपका एक पहचान पत्र अपलोड करे आधार / वोटर / ड्राइविंग / पासपोर्ट</label>
      </div>
      <div class="col-75">
         <div class="row">
      <input type="file" accept="image/png, image/jpeg, image/jpg" name="identity_image" required>
    </div><br>
      </div>
    </div> -->
<!--
    <div class="row">
      <div class="col-25">
        <label for="lname">Choose a profile picture: प्रोफ़ाइल चित्र चुनें:</label>
      </div>
      <div class="col-75">
         <div class="row">
      <input type="file" accept="image/png, image/jpeg, image/jpg"  name="profile_image" required>
    </div><br>
      </div>
    </div> -->

     <h2> बैंक खाता विवरण</h2>
    <div class="row">
      <div class="col-25">
        <label for="lname">अकाउंट नंबर </label>
      </div>
      <div class="col-75">
        <input type="TEXT" placeholder="अकाउंट नंबर दर्ज करें" name="account" value={{agent.occupation[0]}}  required id="account">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">दुबारा अकाउंट नंबर </label>
      </div>
      <div class="col-75">
        <input type="TEXT" placeholder="दुबारा अकाउंट नंबर दर्ज करें" value={{agent.occupation[0]}}   name="account_again" required onkeyup='check_pass();' id="account_again">
      </div>
    </div>


     <div class="row">
      <div class="col-25">
        <label for="lname">IFSC नंबर </label>
      </div>
      <div class="col-75">
        <input type="TEXT" placeholder="IFSC नंबर दर्ज करें" value={{agent.occupation[1]}}   name="IFSC_number" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname"> रद्द किया गया चेक</label>
      </div>
      <div class="col-75">
         <div class="row">
      <input type="file" accept="image/png, image/jpeg, image/jpg" name="check_image" >
    </div><br><br>
      </div>
    </div>
      <div class="row">
        <input type="hidden"  name='agent_id' value="{{agent.agent_id}}" >
        <!--<input type="submit" value=" आपका कमीशन कोड उत्पन्न करे"> -->
      <input type="submit" id='submit' value="Submit karey" >
    </div>
    </form>
  </div>
{% endif %}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
   })();
function getData(){
  delay(function(){
           $.ajax({
             'url': '/pincode/'+$("input[name='PINCODE']").val(),
             'success': function (response) {
               console.log(response);
               $("select[name='state']").val(response['data'][3]);
               $("input[name='district']").val(response['data'][5]);
             },
             'error': function (e) {
               alert(e.message)
             }
           });
  }, 2000 );
};
function check_pass() {
    if(document.getElementById('account').value != document.getElementById('account_again').value) {
        document.getElementById('submit').disabled = true;
        document.getElementById('account_again').style.color = 'red';
    }
    else{
      document.getElementById('account_again').style.color = 'green';
    }
    if(document.getElementById('account').value == document.getElementById('account_again').value &&
      document.getElementById('password').value == document.getElementById('password_again').value) {
        document.getElementById('submit').disabled = false;
    }
}
</script>

</html>
