<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--{% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <script type="text/javascript">
      alert("{{ message }}");
    </script>
    {% endfor %} {% endif %} {% endwith %}
  </head>
  {% include 'navbar.html' %}-->
  <style>
    .btn{
      background-color:#857fc8;
      border-color: #857fc8;
      border-radius: 10px;
    }
    .btn:hover{
      background-color:#635da7;
    }

    input{
      text-align: center;
    }
  select{
      text-align-last:center !important;
    }

  </style>

  <body>
    <!-- <h1>RISHTEY HI RISHTEY</h1> -->
    <!-- <button class="button0 button2" align="right">जानिये</button> -->
    <button class="installbtn" id="installbtn">Install</button>
    <div class="padding">
      <br />
      <center>
        <img
          src="{{ url_for('static', filename='img2.png') }}"
          width="40%"
          height="40%"
        /><br /><br />
        <h3>यहाँ लॉगिन करें</h3>
        <div class="row mt-4 text-center">
            <div class="col-6">
              <button class="btn btn-rounded w-50"
            ><a href="/login" style="text-decoration:none;color:#fff;">वर / वधु</a></button>
            </div>
            <div class="col-6">
              <button class="btn btn-rounded w-50">
                <a href="/agentlogin" style="text-decoration:none;color:#fff;">एजेंट</a></button>
            </div>
        </div>


        <br /><br />
        <h3>पहली बार आये हैं ?</h3>
        <br />

        <div class="row mt-4 text-center">
          <div class="col-4">
          <button class="btn btn-rounded w-100"
          ><a href="/signup/female/0"
            style="text-decoration:none;color:#fff;">वर ढूंढे</a
          ></button>
            </div>
            <div class="col-4">
              <button class="btn btn-rounded w-100"
              ><a href="/signup/male/0"
                style="text-decoration:none;color:#fff;">वधु ढूंढे</a
              ></button>
            </div>
            <div class="col-4">
              <button class="btn btn-rounded w-100"
              ><a href="/agentregistration"
                style="text-decoration:none;color:#fff;">एजेंट</a></button>
            </div>
        </div>

        <br /><br />
        <div class="row mt-4 text-center">
            <div class="col-6">
              <button class="btn btn-rounded w-75"
              ><a href="/privacypolicy"
                style="text-decoration:none;color:#fff;">गोपनीयता नीति</a
              ></button>
            </div>
            <div class="col-6">
              <button class="btn btn-rounded w-75"
              ><a href="/termsofuse"
                style="text-decoration:none;color:#fff;">उपयोग की शर्तें</a
              ></button>
            </div>
        </div>
      </center>
    </div>
  </body>
  <script>
    let deferredPrompt;
    let btnAdd = document.getElementById("installbtn");
    window.addEventListener("beforeinstallprompt", e => {
      btnAdd.style.display = "block";
      e.preventDefault();
      deferredPrompt = e;
    });
    btnAdd.addEventListener("click", e => {
      //btnAdd.style.display = "none";
      deferredPrompt.prompt();
      deferredPrompt.userChoice.then(choiceResult => {
        if (choiceResult.outcome === "accepted") {
          console.log("User accepted the A2HS promt");
        } else {
          console.log("User dismissed the A2HS prompt");
        }
        deferredPrompt = null;
      });
    });
  </script>
</html>
