<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Var Blank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <style>
    p {
      font-size: 2em;
    }
    @media screen and (max-width: 600px) {
      .padding{
        width: 100%;
        align-items: center;
        padding-top: 40%;
        padding-bottom: 20%;
        height: 100%;
        margin: 0px;
        font-family: 'segoe ui';
        /* border: 1px black solid; */

      /* img{
        width: "70%";
        height: "40%";
      } */
    }
    </style>
    <title>Landing page</title>
  </head>
  {% include 'navbar.html' %}
  <body>
  <div class="padding">
    <center><br><br>

      <img src="{{ url_for('static', filename='img2.png') }}" width="40%" height="40%">
      {% if code == '0' %}
      <div class="w3-container" style="padding:50px 20px">
        <p class=" w3-xlarge">
      10 अगस्त से आप अपनी प्रोफाइल बना कर वर ढूंढना शुरू कर सकते हैं |</p>
      </p>
      </div>
      {% endif %}
      {% if code == '1' %}
      <p>25 जुलाई से आप वर का प्रोफाइल बना कर पैसा कामना शुरू कर सकते है | </p>
      {% endif %}
    </center>
    <div>
  </body>
</html>
