<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jaaniye - Var</title>
  <!--  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='jaaniye_inside.css') }}"
    />
  Global site tag (gtag.js) - Google Analytics -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-141544391-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-141544391-1");
    </script>
  </head>
  <style>
  #agent_form{
    text-decoration:none;
    color:#000000;
  }

    #agent_form:hover{
      text-decoration:none;
      color:#857fc8;
    }
  #DescriptionExp{
    font-size: 15px;
  }
</style>
<!--  {% include 'navbar.html' %}-->
  <body>

    <section id="Description" class="p-3">
     <div class="container">
       <div class="row text-center">
         <div class="col align-middle">
           <div class="row text-center mb-5">
             <div class="col align-middle">
           <h3 class="font-weight-bold pt-4">वर</h3>
           <br />
           <p class="lead font-weight-normal text-justify" id="DescriptionExp">
             परिवार समाज की नींव है | परिवार से ही वंश आगे बढ़ता है और समाज परिवार के
             धागे से बंधा हुआ है | <br /><br />
             हमारा मानना है कि जीवन साथी का हक़ , परिवार को आगे बढ़ने का हक़ सबका है
             चाहे उसका जीवन यापन का ज़रिया कोई भी हों | चाहे लड़का खेती करता हो , दुकान
             चलाता हो , नौकरी करता हो या कुछ भी | देश में अच्छे परिवार और लड़कियों की
             कमी नहीं है बात सिर्फ सही रिश्ता ढूंढ़ने की है | एक ऐसा परिवार और लड़की जो
             सोच ,से आर्थिक स्थिति से , मान सम्मान से आपके जैसे हो <br /><br />

             हम आपके माता - पिता और आपको ऐसे हजारो रिश्ते बताते है ,उसमे से रिश्ता
             चुनना और शादी करना आपके और आपके परिवार के हाथ में है | <br /><br />

             रिश्ते की बात चलने के लिए जो जानकारी चाहिए होती है जैसे कि वर-वधु की
             उम्र ,कामकाज ,परिवार/पिता का कामकाज ,धर्म ,जाति-उपजाति ,परिवार में कितने
             सदस्य है आदि की जानकारी हर वर-वधु की बायोडाटा में दी गयी है | साथ मे कॉल
             बटन भी दिया गया है जिसके माध्यम से आपस में बात भी कर सकते है | सबसे
             ज़रुरी बात पहले कॉल आटोमेटिक मशीन से रूट होगी और आप लोगो को एक दूसरे का
             मोबाइल नंबर नहीं दिखेगा | अगर पहली बात-चीत करने के बाद दोनों पक्ष
             बात-चीत आगे बढ़ाना चाहते है तो कृपया एक दूसरे का मोबाइल नंबर ले ले | हमने
             जाति - उपजाति बंधन नहीं तथा दहेज़ बारातमुक्त शादी का विकल्प भी दिया है ,
             अगर आप अपने लड़के-लड़की की बायोडाटा बनाते हुये आप ये विकल्प का चयन करोगे
             तो हमारी ऐप आपको ऐसे रिश्ते दिखायेगा जिसमे दूसरे पक्ष ने यही विकल्प का
             चयन किया हुआ हो | हमारा मकसद, हज़ारों रिश्ते आपकी हथेली में रखना है ,
             शादी करना आपके हाथों में है |

           </p>
         </div>
       </div>
       <a href="/agentform" id="agent_form"> वर ढूंढने के लिए यहाँ क्लिक करे </a>
       <hr class="w-50"/>

     </div>
   </div>
 </div>
   </section>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
